.input-input-field {
  line-height: 36px;
  box-shadow: none;
  font-size: 16px;
  padding: 0px 0px 0px 12px;
  border-width: 2px;
  border-radius: 4px;
  width: 100%;
  border-style: solid;
}

.input-input-field:focus {
  outline: none;
}

.input-input-field::placeholder {
  color: rgb(191, 191, 191);
}
