<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/appollo_liu/Documents/workspace/changing_brain_lab/learning_curve/client/src/audio/line5_long_end.wav</key>
	<data>
	Ym9vaxwEAAAAAAQQMAAAACEsyBeqd4KbWbWPHi0dLzmL6CaVJl6Jwg2w43KtlcoWDAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAGFwcG9sbG9fbGl1AAkA
	AAABAQAARG9jdW1lbnRzAAAACQAAAAEBAAB3b3Jrc3BhY2UAAAASAAAAAQEAAGNoYW5n
	aW5nX2JyYWluX2xhYgAADgAAAAEBAABsZWFybmluZ19jdXJ2ZQAABgAAAAEBAABjbGll
	bnQAAAMAAAABAQAAc3JjAAUAAAABAQAAYXVkaW8AAAASAAAAAQEAAGxpbmU1X2xvbmdf
	ZW5kLndhdgAAKAAAAAEGAAAQAAAAIAAAADQAAABIAAAAXAAAAHgAAACQAAAAoAAAAKwA
	AAC8AAAACAAAAAQDAADiMAYAAAAAAAgAAAAEAwAAJH8JAAAAAAAIAAAABAMAACV/CQAA
	AAAACAAAAAQDAACEUA8AAAAAAAgAAAAEAwAAoLMxAQIAAAAIAAAABAMAACra9QECAAAA
	CAAAAAQDAACUZvYBAgAAAAgAAAAEAwAA23T2AQIAAAAIAAAABAMAAAgB+gECAAAACAAA
	AAQDAAD0MnMEAgAAACgAAAABBgAACAEAABgBAAAoAQAAOAEAAEgBAABYAQAAaAEAAHgB
	AACIAQAAmAEAAAgAAAAABAAAQcOlbjbKtoIYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAA
	AAAAAAAAAAgAAAAEAwAACAAAAAAAAAAKAAAAAQEAAGFwb2xsb19saXUAAAQAAAADAwAA
	9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAGBG
	ZDoAAAAIAAAAAAQAAEHCYHwBDywFJAAAAAEBAABCNjM4RDdBMy00M0IxLTMxQkMtOTgz
	RS1BNEFFM0JGMUE4MkMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAAB
	AQAALwAAAAAAAAABBQAAGgAAAAEBAABOU1VSTERvY3VtZW50SWRlbnRpZmllcktleQAA
	BAAAAAMDAACgCRUA2AAAAP7///8BAAAAAAAAABEAAAAEEAAA2AAAAAAAAAAFEAAAqAEA
	AAAAAAAQEAAA6AEAAAAAAABAEAAA2AEAAAAAAAACIAAAyAIAAAAAAAAFIAAAOAIAAAAA
	AAAQIAAASAIAAAAAAAARIAAAfAIAAAAAAAASIAAAXAIAAAAAAAATIAAAbAIAAAAAAAAg
	IAAAqAIAAAAAAAAwIAAA1AIAAAAAAAABwAAACAIAAAAAAAARwAAAGAIAAAAAAAASwAAA
	LAIAAAAAAAAQ0AAABAAAAAAAAADcAgCAAAMAAAAAAAA=
	</data>
	<key>/Users/appollo_liu/Documents/workspace/changing_brain_lab/learning_curve/client/src/audio/tall_left_expect_low.mp4</key>
	<data>
	Ym9vayAEAAAAAAQQMAAAANBlBA2aCW7Z5XK9PQzHXNwEbwo5NCl2tINDn+jhNdWMEAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAGFwcG9sbG9fbGl1AAkA
	AAABAQAARG9jdW1lbnRzAAAACQAAAAEBAAB3b3Jrc3BhY2UAAAASAAAAAQEAAGNoYW5n
	aW5nX2JyYWluX2xhYgAADgAAAAEBAABsZWFybmluZ19jdXJ2ZQAABgAAAAEBAABjbGll
	bnQAAAMAAAABAQAAc3JjAAUAAAABAQAAYXVkaW8AAAAYAAAAAQEAAHRhbGxfbGVmdF9l
	eHBlY3RfbG93Lm1wNCgAAAABBgAAEAAAACAAAAA0AAAASAAAAFwAAAB4AAAAkAAAAKAA
	AACsAAAAvAAAAAgAAAAEAwAA4jAGAAAAAAAIAAAABAMAACR/CQAAAAAACAAAAAQDAAAl
	fwkAAAAAAAgAAAAEAwAAhFAPAAAAAAAIAAAABAMAAKCzMQECAAAACAAAAAQDAAAq2vUB
	AgAAAAgAAAAEAwAAlGb2AQIAAAAIAAAABAMAANt09gECAAAACAAAAAQDAAAIAfoBAgAA
	AAgAAAAEAwAA6QJgBAIAAAAoAAAAAQYAAAwBAAAcAQAALAEAADwBAABMAQAAXAEAAGwB
	AAB8AQAAjAEAAJwBAAAIAAAAAAQAAEHDm1/z1l2yGAAAAAECAAABAAAAAAAAAA8AAAAA
	AAAAAAAAAAAAAAAIAAAABAMAAAgAAAAAAAAACgAAAAEBAABhcG9sbG9fbGl1AAAEAAAA
	AwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMA
	AABgRmQ6AAAACAAAAAAEAABBwmB8AQ8sBSQAAAABAQAAQjYzOEQ3QTMtNDNCMS0zMUJD
	LTk4M0UtQTRBRTNCRjFBODJDGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAB
	AAAAAQEAAC8AAAAAAAAAAQUAABoAAAABAQAATlNVUkxEb2N1bWVudElkZW50aWZpZXJL
	ZXkAAAQAAAADAwAA0wEVANgAAAD+////AQAAAAAAAAARAAAABBAAANwAAAAAAAAABRAA
	AKwBAAAAAAAAEBAAAOwBAAAAAAAAQBAAANwBAAAAAAAAAiAAAMwCAAAAAAAABSAAADwC
	AAAAAAAAECAAAEwCAAAAAAAAESAAAIACAAAAAAAAEiAAAGACAAAAAAAAEyAAAHACAAAA
	AAAAICAAAKwCAAAAAAAAMCAAANgCAAAAAAAAAcAAAAwCAAAAAAAAEcAAABwCAAAAAAAA
	EsAAADACAAAAAAAAENAAAAQAAAAAAAAA4AIAgAQDAAAAAAAA
	</data>
	<key>/Users/appollo_liu/Documents/workspace/changing_brain_lab/learning_curve/client/src/audio/tall_right_expect_high.mp4</key>
	<data>
	Ym9vayQEAAAAAAQQMAAAAHp7xyl/3fIJLDIXQ509Y6IbLule7aqQ1C5j5oJ3DF3WFAMA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAGFwcG9sbG9fbGl1AAkA
	AAABAQAARG9jdW1lbnRzAAAACQAAAAEBAAB3b3Jrc3BhY2UAAAASAAAAAQEAAGNoYW5n
	aW5nX2JyYWluX2xhYgAADgAAAAEBAABsZWFybmluZ19jdXJ2ZQAABgAAAAEBAABjbGll
	bnQAAAMAAAABAQAAc3JjAAUAAAABAQAAYXVkaW8AAAAaAAAAAQEAAHRhbGxfcmlnaHRf
	ZXhwZWN0X2hpZ2gubXA0AAAoAAAAAQYAABAAAAAgAAAANAAAAEgAAABcAAAAeAAAAJAA
	AACgAAAArAAAALwAAAAIAAAABAMAAOIwBgAAAAAACAAAAAQDAAAkfwkAAAAAAAgAAAAE
	AwAAJX8JAAAAAAAIAAAABAMAAIRQDwAAAAAACAAAAAQDAACgszEBAgAAAAgAAAAEAwAA
	Ktr1AQIAAAAIAAAABAMAAJRm9gECAAAACAAAAAQDAADbdPYBAgAAAAgAAAAEAwAACAH6
	AQIAAAAIAAAABAMAAOsCYAQCAAAAKAAAAAEGAAAQAQAAIAEAADABAABAAQAAUAEAAGAB
	AABwAQAAgAEAAJABAACgAQAACAAAAAAEAABBw5tf8+JN4hgAAAABAgAAAQAAAAAAAAAP
	AAAAAAAAAAAAAAAAAAAACAAAAAQDAAAIAAAAAAAAAAoAAAABAQAAYXBvbGxvX2xpdQAA
	BAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAA
	AAQDAAAAYEZkOgAAAAgAAAAABAAAQcJgfAEPLAUkAAAAAQEAAEI2MzhEN0EzLTQzQjEt
	MzFCQy05ODNFLUE0QUUzQkYxQTgyQxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAA
	AAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAaAAAAAQEAAE5TVVJMRG9jdW1lbnRJZGVudGlm
	aWVyS2V5AAAEAAAAAwMAANUBFQDYAAAA/v///wEAAAAAAAAAEQAAAAQQAADgAAAAAAAA
	AAUQAACwAQAAAAAAABAQAADwAQAAAAAAAEAQAADgAQAAAAAAAAIgAADQAgAAAAAAAAUg
	AABAAgAAAAAAABAgAABQAgAAAAAAABEgAACEAgAAAAAAABIgAABkAgAAAAAAABMgAAB0
	AgAAAAAAACAgAACwAgAAAAAAADAgAADcAgAAAAAAAAHAAAAQAgAAAAAAABHAAAAgAgAA
	AAAAABLAAAA0AgAAAAAAABDQAAAEAAAAAAAAAOQCAIAIAwAAAAAAAA==
	</data>
</dict>
</plist>
