.img-guess-star {
  position: absolute;
  top: var(--star-top);
  left: var(--star-left);
}

.img-star {
  height: var(--star-height);
}

.div-guess {
  height: 100%;
}

.div-guess-slider {
  height: 100%;
}

.star-and-buttons {
  position: absolute;
  /* confirm buttons need to be in front of slider */
  z-index: 4;
}

.button-confirm-guess {
  border-color: rgb(244, 115, 93) !important;
  color: rgb(244, 115, 93) !important;
  background-color: rgb(171, 197, 87) !important;
}
