.div-egg-and-platform {
  position: absolute;
}

.img-egg {
  display: inline-block;
  position: relative;
}

.img-hand {
  position: absolute;
  z-index: 2;
  display: none;
}

@-webkit-keyframes rise {
  100% {
    -webkit-transform: translateY(-40vh);
  }
}
