.img-hand {
  position: absolute;
  z-index: 2;
  display: none;
  height: 100px;
  top: 50%;
}

.img-hand-left {
  left: 50%;
  transform: rotate(-90deg);
}

.img-hand-right {
  left: 50%;
  transform: rotate(90deg);
}

.img-relative {
  position: relative;
}

@-webkit-keyframes rise {
  100% {
    -webkit-transform: translateY(-40vh);
  }
}
