.video-introduction {
  display: none;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
}

.button-introduction {
  position: relative;
  margin-top: 50%;
  display: none;
  height: 60px !important;
  z-index: 5;
}

.button-right {
  margin-left: 20px;
}

.img-none {
  display: none;
}
