.div-absolute {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.video-introduction {
  display: none;
}

.button-introduction {
  position: relative;
  margin-top: 50%;
  display: none;
}
