.tree-highlight {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 50vw;
  display: none;
}

.left-tree {
  left: 0px;
}
.right-tree {
  left: 50%;
}

.div-egg-and-platform {
  position: absolute;
}

.img-introduction-egg-platform {
  position: relative;
}

.img-hand {
  position: absolute;
  z-index: 2;
}

@-webkit-keyframes rise {
  100% {
    -webkit-transform: translateY(-40vh);
  }
}
