.button-practice {
  position: relative;
  top: 2vh;
  display: none;
  height: 60px !important;
  /* needs to be in front of background */
  z-index: 1;
}

.div-egg-and-platform {
  position: absolute;
  display: none;
}