.button-tree {
  background-color: inherit;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 50vw;
  padding: 0;
  border: none;
  /* display: none; */
}

.left-tree {
  left: 0;
}

.right-tree {
  left: 50%;
}

.button-tree:focus {
  outline: none;
}

.img-hand-left {
  left: 40%;
  transform: rotate(-90deg);
}

.div-confirmation {
  position: relative;
  padding-top: 50%;
  z-index: 2;
  display: none;
}

.button-right {
  margin-left: 10px;
}

.button-reflection {
  position: absolute;
  height: 45vh !important;
  width: 100vw;
  left: 0;
  z-index: 2;
  display: none;
  border-radius: 0px !important;
}

.button-reflection:hover {
  color: black !important;
  background-color: white !important;
}

.button-reflection:focus {
  color: black !important;
  background-color: white !important;
}

.img-plants {
  object-fit: cover;
  width: 80vw;
  position: relative;
  left: 0;
}

.h3-reflection {
  font-weight: bold;
  padding-bottom: 15px;
}
