.button-tree {
  background-color: inherit;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 50vw;
  padding: 0;
  border: none;
  display: none;
}

.right-tree {
  left: 50%;
}

.button-tree:focus {
  outline: none;
}

.img-hand-left {
  left: 40%;
  transform: rotate(-90deg);
}

.button-reflection {
  position: absolute;
  height: 100vh !important;
  width: 50vw;
  top: 0;
  display: none;
}
