.img-background {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.slider-container {
  position: absolute;
  width: var(--egg-platform-width);
  height: var(--ladder-height);
  top: var(--slider-top-percent);
  z-index: 3;
}

.slider {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: none;
  width: var(--ladder-height);
  height: var(--egg-platform-width);
  position: absolute;
  transform-origin: top left;
  transform: rotate(270deg) translateX(-100%);
  z-index: 3;
  background: transparent;
  left: 0;
  /* https://stackoverflow.com/questions/52639387/how-to-disable-touch-on-input-range-only-accept-drag-to-change-its-value*/
  /*  subject can only drag the slider */
  /* pointer-events: none; */
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background: transparent;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  /* background: blue; */
  width: var(--egg-platform-height);
  height: var(--egg-platform-width);
  position: relative;
  z-index: 3;
  /* pointer-events: atuo; */
}

.slider::-moz-range-thumb {
  width: var(--egg-platform-width);
  height: var(--egg-platform-height);
  position: relative;
  z-index: 3;
}

.img-egg-platform {
  position: absolute;
  left: 0;
  width: var(--egg-platform-width);
  height: var(--egg-platform-height);
  z-index: 1;
}

.img-egg {
  position: absolute;
  z-index: 2;
  transform-origin: bottom center;
}

/* Animation details: https://www.w3schools.com/css/css3_animations.asp */
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fall {
  100% {
    transform: translate(-100px, 1000px) rotate(-30deg);
  }
}
